/* Global */

img{
    width: 70%;
    margin: 0 auto;
}

.indexphoto {
    display: block;
}

body{
    background: url(../img/bgp.png);   
}

/* Gallery */
.gallery {
    height: 1000px;
    position: relative;
}

/* Layout */

/* Typography */

h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    color: white;
    font-size: 2em;
}
    
p{
    background: red;
    border: 10px double black;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

/* Navigation */
a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    color: white;
}

li{
    display: inline
}

header {
    width: 90%;
    background: rgba(255,0,0,0.5);
    margin: 0 auto;
}

header ul {
    list-style: none;
    text-decoration: none;
}

header li {
    display: inline-block;
    font-size: 2em;
    padding: 20px 60px 20px 0;
    font-family: 'Alfa Slab One', cursive;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: black;
    text-align: center;
}

header nav {
    margin: 0 auto;
}

.hypo {
    display: inline;
}

.mov li{
    display: block;
    font-size: 2em;
    color: white;
}

.mov a {
    display: inline;
}

.aboutlists {
    width: 30%;
}

.aboutlists li img {
    display: inline;
    width: 30px;
}

.controls img {
    margin: 10px;
}

.gallery img {
    width: 50%;
}

hover:header a {
    text-decoration: underline;
}

.trailer {
    margin: 0 auto;
    width: 90%;
}

.trailer h2 {
    display: inline;
    padding: 0 8% 0 7%; 
}